
<img src="/images/Qnbn Logo.png" style="float:right">
<h1> <font color="#6600cc">FCap </font></h1>
<h3>Resource Management Tool</h3>

<p>Property of Qnbn: Qatar National Broadband Network</p>
<hr>
<br>
<br>
<br>

<%= link_to "List Locations", controller: 'locations' %> | 
<%= link_to "List Racks", controller: 'net_racks' %> | 
<%= link_to "List Cables", controller: 'cables' %> | 
